
<ion-header class="header">

  <ion-navbar transparent>
   <ion-buttons transparent left > 
		 <button style="background: transparent;" menuToggle >
			 <ion-icon class="whiteclr" style="font-size: 25px;" name="menu"></ion-icon>
		 </button> 
	</ion-buttons>
    <ion-title color="light" >Change Password</ion-title>
	 <ion-buttons right> 
		 <button  ion-button clear end>
            <ion-icon name="menu" style="color:transparent"></ion-icon>
         </button>
	</ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content >

   
<form [formGroup]="changePasswordForm" >
  <ion-item style="margin-top:15px">
    <ion-label floating>Old Password</ion-label>
    <ion-input  [(ngModel)]="formData.oldpassword"  [formControl]="changePasswordForm.controls['oldpassword']"   type="password"></ion-input>
  </ion-item>
  <div class="errorLabel speech-bubble" *ngIf="changePasswordForm.controls['oldpassword'].hasError('required') && changePasswordForm.controls['oldpassword'].touched">* Password is required!</div>

  <ion-item class="inputFieldTopMargin">
    <ion-label floating>New Password</ion-label>
    <ion-input [(ngModel)]="formData.newPassword" [formControl]="changePasswordForm.controls['newPassword']" type="password"></ion-input>
  </ion-item>
   <div class="errorLabel speech-bubble" *ngIf="changePasswordForm.controls['newPassword'].hasError('required') && changePasswordForm.controls['newPassword'].touched">* Password is required!</div>
   <div class="errorLabel speech-bubble" *ngIf="changePasswordForm.controls['newPassword'].hasError('minlength') && changePasswordForm.controls['newPassword'].touched">* Minimum Password length should be 8!</div>
   <div class="errorLabel speech-bubble" *ngIf="changePasswordForm.controls['newPassword'].hasError('maxlength') && changePasswordForm.controls['newPassword'].touched">* Maximum Password length should be 16!</div>
  
  <ion-item class="inputFieldTopMargin">
    <ion-label floating>Confirm Password</ion-label>
    <ion-input [(ngModel)]="formData.confirmPassword" pattern="{{formData.newPassword}}" [formControl]="changePasswordForm.controls['confirmPassword']" type="password"></ion-input>
  </ion-item>
   <div class="errorLabel speech-bubble" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required') && changePasswordForm.controls['confirmPassword'].touched">* Confirm Password is required!</div>
   <div class="errorLabel speech-bubble" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('pattern') && changePasswordForm.controls['confirmPassword'].touched">* Password not matched!</div>

<div padding>  
 <button type="submit" (click) = "changePassword()"  ion-button full color="secondary" [disabled]="!changePasswordForm.valid"  style="margin-top: 25px;">Change Password</button> 
</div> 
 </form>  
<ion-label *ngIf="dataService.userLoginStatus == '0'" padding text-center>You are not login user.</ion-label> 
</ion-content>
