page-feedback {
	ul {
	  padding: 0px;
      text-align: -webkit-center;
	  &.rating li {
		padding: 5px 0px !important;
		background: none;
		color: #ffb400;

		ion-icon {
		  font-size: 30px;
		}
	  }
	}
	
	.toolbar-background-md {
		border-color: #b2b2b2;
		background: rgba(248, 248, 248, 0)!important;
	}

}
