
<ion-header class="header">

  <ion-navbar transparent>
    <ion-buttons  left > 
		 <button style="background:transparent" menuToggle>
			 <ion-icon class="whiteclr font_size_21"  name="menu"></ion-icon>
		 </button> 
	</ion-buttons>
    <ion-title color="light" >Reset Password</ion-title>
	 <ion-buttons right> 
		 <button  ion-button clear end>
            <ion-icon name="menu" style="color:transparent"></ion-icon>
         </button>
	</ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content padding>

<form [formGroup]="FormResetPwd" >

    <ion-item class="inputFieldTopMargin">
      <ion-label floating>Email</ion-label>
      <ion-input type="email"  [(ngModel)]="formDataResetPwd.email"  [formControl]="FormResetPwd.controls['email']"></ion-input>
    </ion-item>
    <div class="errorLabel speech-bubble" *ngIf="FormResetPwd.controls['email'].hasError('required') && FormResetPwd.controls['email'].touched">* Email is required!</div>
    <div class="errorLabel speech-bubble" *ngIf="FormResetPwd.controls['email'].hasError('pattern') && FormResetPwd.controls['email'].touched">* Please enter valid email!</div>
   

		<div padding>  
		 <button type="submit" (click)="resetPassword()"  ion-button full color="secondary" [disabled]="!FormResetPwd.valid"  style="margin-top: 25px;">Reset Password</button> 
		</div> 
 </form> 
   
</ion-content>
