page-view-search-result-modal {
   ion-content {
		top: 0;
		width: 100%;
		height: 100%;
		box-shadow: 3px 21px 54px grey;
		margin-left: 0%;
		background: white!important;
	}
	ion-modal {
		background: rgba(14, 14, 14, 0.61)!important;
	}
	:focus, :active {
		outline: none;
		background: rgba(0, 0, 0, 0.24);
	}
	ion-icon::before {
		display: inline-block;
		font-size: 27px;
	}
	.padding_top{
	    padding-top: 8px;
	}
	hr.hrstyle { 
		border: 0;
		height: 2px;
		background-image: linear-gradient(to right, transparent, rgb(236, 236, 236), transparent);
	}
	.gradient1 {
		background: linear-gradient(to left, #ffffff 2%, #b3471d 90%) !important;
	}
 

	
}
